<div class="copyrights">
    <div class="container">
        <div class="footer-distributed">
            <div class="footer-left">
                <p class="footer-links">
                    <a class ="nav-link js-scroll-trigger active" href="#home">Home</a>
                    <a class ="nav-link js-scroll-trigger active" href="#about">About me</a>
                    <a class ="nav-link js-scroll-trigger active" href="#education">Education</a>
                    <a class ="nav-link js-scroll-trigger active" href="#portfolio">Languages</a>
                    <a class ="nav-link js-scroll-trigger active" href="#projects">Projects</a>
                    <a class ="nav-link js-scroll-trigger active" href="#bootcamp">Bootcamp</a>
                    <a href="#contact">Contact Me</a>
                </p>
                <p class="footer-company-name">All Rights Reserved. &copy; 2024 <a href="#">Baran</a> Design By : 
                <a href="#">Umut Baran Demir</a></p>
            </div>
        </div>
    </div><!-- end container -->
</div><!-- end copyrights -->

<a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
