.homepageheader{
    background: url(../../uploads/homepagebg.jpg);
}

.main-banner{
	height: 100%;
	position: relative;
}

.main-banner{
	display: table;
    width: 100%;
	text-align: center;
}
.main-banner::after {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 0;
    opacity: .6;
}
.heading{
	color: #fff;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index: 1;
}
.heading h1{
	color: #ffffff;
	font-weight: 700;
	font-size: 62px;
	text-transform: uppercase;
}
.heading p{
	font-size: 18px;
	padding: 20px 0px;
}

.heading h3{
	color: ffffff;
}

/* CLOUDS */
#clouds{
	margin-top: -5%;
	position: relative;
	z-index: 1;
}
#clouds path {
    fill: #ffffff;
    bottom: -10px;
    overflow: hidden;
    stroke: #ffffff;
}