<section id="home" class="main-banner parallaxie" style="background: url('uploads/homepagebg.jpg')">
    <div class="heading">
        <h1>Hello! i'm Umut Baran</h1>
        <p>"You should have regrets in life because you took the wrong steps, <br>not because you didn't took any at all."</p>
        <h3 class="cd-headline clip is-full-width">
            <span>I create magic with  </span>
            <span class="cd-words-wrapper">
                <b class="is-visible">Java</b>
                <b>Html&Css&Javascript</b>
                <b>React</b>
                <b>Typescript</b>
                <b>Angular</b>
            </span>
        </h3>
    </div>
</section>

<svg id="clouds" class="hidden-xs" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 85 100" preserveAspectRatio="none">
    <path d="M-5 100 Q 0 20 5 100 Z
        M0 100 Q 5 0 10 100
        M5 100 Q 10 30 15 100
        M10 100 Q 15 10 20 100
        M15 100 Q 20 30 25 100
        M20 100 Q 25 -10 30 100
        M25 100 Q 30 10 35 100
        M30 100 Q 35 30 40 100
        M35 100 Q 40 10 45 100
        M40 100 Q 45 50 50 100
        M45 100 Q 50 20 55 100
        M50 100 Q 55 40 60 100
        M55 100 Q 60 60 65 100
        M60 100 Q 65 50 70 100
        M65 100 Q 70 20 75 100
        M70 100 Q 75 45 80 100
        M75 100 Q 80 30 85 100
        M80 100 Q 85 20 90 100
        M85 100 Q 90 50 95 100
        M90 100 Q 95 25 100 100
        M95 100 Q 100 15 105 100 Z">
    </path>
</svg>

<div id="about" class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="message-box">                        
                    <h2>About ME</h2>
                    <p> I was always amazed by the reach and the comfort that software can create.
                        Possibility of being able to contribute to something that is bigger than me was
                        and always is going to be the reason that forces me to better myself both as an
                        engineer and as a person. Being part of a team, taking responsibilities and
                        fullfiling my tasks, paying attention to details to learn everything i can is what
                        i'm looking forward to in my career. </p>
                    <p>One thing i am proud the most about myself is being fearless. I am never shy or scared about changing and adapting. 
                        I welcome the challenges and the curvels that i get thrown.</p>

                    <!-- <a href="#" class="sim-btn btn-hover-new" data-text="Download CV"><span>Download CV</span></a> -->
                </div><!-- end messagebox -->
            </div><!-- end col -->

            <div class="col-md-6">
                <div class="right-box-pro wow fadeIn">
                    <img src="uploads/me.jpg" alt="" class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div id="blog" class="section lb">
    <div class="container">
        <div class="section-title text-left">
            <h3>Education</h3>
            <p>My school years and the journey i took to become a Software Engineer.</p>
        </div><!-- end title -->
        
        <div class="row">
            <div class="col-md-6">
                <div class="services-inner-box">
                    <div class="ser-icon">
                        <i class="flaticon-seo"></i>
                    </div>
                    <h2>High School </h2>
                    <p>Tülay Basaran Anadolu Lisesi, SAMSUN / ILKADIM ,<br> 2015-2019</p>
                    <p>Root of the love and the passion i have for the software world and the constant hunger to learn resides on the growth i had during these years. </p>
                </div>
            </div><!-- end col -->
            <div class="col-md-6">
                <div class="services-inner-box">
                    <div class="ser-icon">
                        <i class="flaticon-development"></i>
                    </div>
                    <h2>College</h2>
                    <p>Istanbul Aydin University, KUCUKCEKMECE / ISTANBUL ,<br> 2019-2023</p>
                    <p>Building a solid foundation that includes software basics, algorithms and building projects in variety of languages. Tapping into the limitless potential of software world.</p>
                </div>
            </div><!-- end col -->
            <div class="col-md-6">
                <div class="services-inner-box">
                    <div class="ser-icon">
                        <i class="flaticon-process"></i>
                    </div>
                    <h2>Internships</h2>
                    <p>Remote , SUMMER 2023</p>
                    <p>To finish my college journey i did 28 days of intership in the firm below.</p>
                    <p>Kreatif Fabrika, August 2024 </p>
                    <p>I learned and used PHP Laravel along with the html,css and javascript.</p>
                    <p></p>
                </div>
            </div><!-- end col -->
            <div class="col-md-6">
                <div class="services-inner-box">
                    <div class="ser-icon">
                        <i class="flaticon-process"></i>
                    </div>
                    <h2>After College</h2>
                    <p>After completing my internships and graduation i got an offer from TUBITAK BILGEM YTE BOOTCAMP 2023 to attend their online bootcamp that had subjects such as Java, Figma, Springboot. Completing these courses and doing some freelance jobs brought me to end of 2023.</p>
                    <p>To start the 2024, I have been taking an Angular Frontend Bootcamp via TechCareer.</p>
                    <button id="viewPdfButton">View PDF</button> 
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div id="portfolio" class="section lb">
    <div class="container">
        <div class="section-title text-left">
            <h3>Languages</h3>
            <p>These are the languages i have used</p>
        </div><!-- end title -->
        
        <div class="gallery-menu row">
            <div class="col-md-12">
                <div class="button-group filter-button-group text-left">
                    <button class="active" data-filter="*">All</button>
                    <button data-filter=".gal_a">FRONTEND</button> <!-- FRONTEND-->
                    <button data-filter=".gal_b">BACKEND</button> <!-- BACKEND-->
                    <button data-filter=".gal_c">DATABASE</button>  <!-- DATABASES-->
                </div>
            </div>
        </div>
        
        <div class="gallery-list row"> 
            <div class="col-md-4 col-sm-6 gallery-grid gal_a"> <!-- REACT-->
                <div class="gallery-single fix">
                    <img src="../../uploads/react.png" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="../../uploads/react.png" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 gallery-grid gal_a"> <!-- ANGULAR-->
                <div class="gallery-single fix">
                    <img src="../../uploads/angular.png" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="../../uploads/angular.png" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 gallery-grid gal_a"> <!-- HTML/CSS/JS -->
                <div class="gallery-single fix">
                    <img src="../../uploads/htmlcssjs.png" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="../../uploads/htmlcssjs.png" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 gallery-grid gal_b"> <!-- NODEJS -->
                <div class="gallery-single fix">
                    <img src="../../uploads/nodejs.png" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="../../uploads/nodejs.png" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 gallery-grid gal_a gal_b"> <!-- JAVA -->
                <div class="gallery-single fix">
                    <img src="../../uploads/java.png" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="../../uploads/java.png" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-sm-6 gallery-grid gal_b"> <!-- PHP -->
                <div class="gallery-single fix">
                    <img src="../../uploads/php.png" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="../../uploads/php.png" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_b"> <!-- SPRING BOOT -->
                <div class="gallery-single fix">
                    <img src="../../uploads/springboot.png" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="../../uploads/springboot.png" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_c"> <!-- MySQL -->
                <div class="gallery-single fix">
                    <img src="../../uploads/mysql.jpg" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="../../uploads/mysql.jpg" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_c"> <!-- ORACLE SQL -->
                <div class="gallery-single fix">
                    <img src="../../uploads/oraclesql.png" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="../../uploads/oraclesql.png" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_c"> <!-- MongoDB -->
                <div class="gallery-single fix">
                    <img src="../../uploads/mongodb.png" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="../../uploads/mongodb.png" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 gallery-grid gal_a gal_b"> <!-- Python -->
                <div class="gallery-single fix">
                    <img src="../../uploads/python.png" class="img-fluid" alt="Image">
                    <div class="img-overlay">
                        <a href="../../uploads/python.png" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>

        </div>
        </div>
    </div>

    <div id="services" class="section lb">
        <div class="container">
            <div class="section-title text-left">
                <h3>PROJECTS</h3>
                <p>These are some of the projects that i built during college and bootcamps that i took.</p>
            </div><!-- end title -->

            <div class="row">
				<div class="col-md-4">
                    <div class="services-inner-box">
						<div class="ser-icon">
							<i class="flaticon-seo"></i>
						</div>
						<h2>Angular OnePage</h2>
						<p>Onepage portfolio website that i built for the final project for Techcareer Angular Frontend Bootcamp using angular knowledge i gained during the 5 weeks long training.</p>
                        <a href="https://github.com/umutbarandemir/OnePagePortfolio" color="blue">Github Link</a>
					</div>
                </div><!-- end col -->
				<div class="col-md-4">
                    <div class="services-inner-box">
						<div class="ser-icon">
							<i class="flaticon-process"></i>
						</div>
						<h2>Forum Website with React</h2>
						<p>Created a forum website to test my react and nodejs knowledge where
                            users were able to login, register, create threads, search for threads, leave
                            comments on threads and like threads. Used mongoDB for the first time for cloud storage. </p>
                        <a href="https://github.com/umutbarandemir/ForumWebsite" color="blue">Github Link</a>
					</div>
                </div><!-- end col -->
				<div class="col-md-4">
                    <div class="services-inner-box">
						<div class="ser-icon">
							<i class="flaticon-discuss-issue"></i>
						</div>
						<h2>GameApp in Android Studio</h2>
						<p>To sum up all my knowledge about android studio java, I created a game
                            app. Started as a stand alone game then turned into a game app with
                            multiple games, main page, difficulty scenes and game scenes.</p>
                        <a href="https://github.com/umutbarandemir/GameAppAndroid" color="blue">Github Link</a>
					</div>
                </div><!-- end col -->
                <div class="col-md-4">
                    <div class="services-inner-box">
						<div class="ser-icon">
							<i class="flaticon-development"></i>
						</div>
						<h2>IMDB type Critic Website with React</h2>
						<p>Built a full-stack web app to allow users to search for movies, video games or tv show titles and leave reviews using React, NodeJS and MongoDB.</p>
                        <a href="https://github.com/umutbarandemir/MyCritic" color="blue">Github Link</a>
					</div>
                </div><!-- end col -->
				<div class="col-md-4">
                    <div class="services-inner-box">
						<div class="ser-icon">
							<i class="flaticon-idea"></i>
						</div>
						<h2>TetrisBot in Python</h2>
						<p>Utilized python basics and pygame library to create a python game then
                            implemented a bot to play it without using advanced python libraries.</p>
                        <a href="https://github.com/umutbarandemir/tetris_bot" color="blue">Github Link</a>
					</div>
                </div><!-- end col -->
				<div class="col-md-4">
                    <div class="services-inner-box">
						<div class="ser-icon">
							<i class="flaticon-idea-1"></i>
						</div>
						<h2>MovieRecomendation System with ML</h2>
						<p>A movie recommendation system that uses K-NN algorithm to find
                            similarities between user activities and suggests movies to users based on
                            similar users.</p>
                        <a href="https://github.com/umutbarandemir/MovieRec" color="blue">Github Link</a>
					</div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div id="testimonials" class="section wb">
        <div class="container">
            <div class="section-title text-left">
                <h3>My Angular Bootcamp Journey</h3>
                <p>These are repositories i created during this bootcamp </p>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="testi-carousel owl-carousel owl-theme">
                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-right"></i> Week1 - HTML&CSS&JS</h3>
                                <p class="lead">To start the bootcamp we went over the html,css and bootstrap basics while creating login form with all the neccesary attributes. We got assigend to do a login/register form of our own. </p>
                            </div>
                            <div class="testi-meta">
                                <img src="../../uploads/htmlcssjs.png" alt="" class="img-fluid alignleft">
                                <h4>Html&Css&Js <small>- <a href="https://github.com/umutbarandemir/Bootcamp-Login-Register" color="blue">Github Link</a></small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Week2 - JS&TS</h3>
                                <p class="lead">During week2 we went over the javascript essentials and later on started learning typescript. Without skipping a subject we learned all the topics of typescript then touched on npm installs.</p>
                            </div>
                            <div class="testi-meta">
                                <img src="../../uploads/typescript.png" alt="" class="img-fluid alignleft">
                                <h4>JS&Typescript  <small>- <a href="https://github.com/umutbarandemir/TypeScript" color="blue">Github Link</a></small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Week3 - AngularSetup&Components</h3>
                                <p class="lead">With the start of week3 we set our first angular app. Covered the basics of angular, learned how to set angular projects and coding environment. Learned about the component based coding of angular.</p>
                            </div>
                            <div class="testi-meta">
                                <img src="../../uploads/angular.png" alt="" class="img-fluid alignleft">
                                <h4>ANGULAR <small>- <a href="https://github.com/umutbarandemir/angular-onepage-fromzero" color="blue">Github Link</a></small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->
                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Week4 - AngularOnePage</h3>
                                <p class="lead">We went into more details on angular and started a small one page application. Picked up a template for my portfolio page and started adjusting the template according to the end result i want.</p>
                            </div>
                            <div class="testi-meta">
                                <img src="../../uploads/angular.png" alt="" class="img-fluid alignleft">
                                <h4>ANGULAR <small>- <a href="https://github.com/umutbarandemir/angular-onepage-fromzero" color="blue">Github Link</a></small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                        <div class="testimonial clearfix">
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i> Week5 - More Angular</h3>
                                <p class="lead">Learned about more complex ideas such as pipelines, rxjs, nodejs, mongodb, json and services. For the final deliverable of the bootcamp finished the design and content of the website and started the conversion of javascript to angular.</p>
                            </div>
                            <div class="testi-meta">
                                <img src="../../uploads/angular.png" alt="" class="img-fluid alignleft">
                                <h4>ANGULAR&Node.js <small>- <a href="https://github.com/umutbarandemir/angular-onepage-fromzero" color="blue">Github Link</a></small></h4>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        <!-- end testimonial -->

                    </div><!-- end carousel -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div id="contact" class="section db">
        <div class="container">
            <div class="section-title text-left">
                <h3>Contact Me</h3>
                <p>If i'm lucky enough to catch your attention and you have anything to say to me, i will be replying to you as soon as possible.</p>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-12">
                    <div class="contact_form">
                        <div id="message"></div>
                        <form id="contactForm" name="sentMessage" novalidate="novalidate">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input class="form-control" id="name" type="text" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name.">
										<p class="help-block text-danger"></p>
									</div>
									<div class="form-group">
										<input class="form-control" id="email" type="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email address.">
										<p class="help-block text-danger"></p>
									</div>
									<div class="form-group">
										<input class="form-control" id="phone" type="tel" placeholder="Your Phone" required="required" data-validation-required-message="Please enter your phone number.">
										<p class="help-block text-danger"></p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<textarea class="form-control" id="message" placeholder="Your Message" required="required" data-validation-required-message="Please enter a message."></textarea>
										<p class="help-block text-danger"></p>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-lg-12 text-center">
									<div id="success"></div>
									<button id="sendMessageButton" class="sim-btn btn-hover-new" data-text="Send Message" type="submit">Send Message</button>
								</div>
							</div>
						</form>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->