<div>
    
<div id="about" class="section wb">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="message-box">                        
                    <h2>About ME</h2>
                    <p> I was always amazed by the reach and the comfort that software can create.
                        Possibility of being able to contribute to something that is bigger than me was
                        and always is going to be the reason that forces me to better myself both as an
                        engineer and as a person. Being part of a team, taking responsibilities and
                        fullfiling my tasks, paying attention to details to learn everything i can is what
                        i'm looking forward to in my career. </p>
                    <p>One thing i am proud the most about myself is being fearless. I am never shy or scared about changing and adapting. 
                        I welcome the challenges and the curvels that i get thrown.</p>

                    <!-- <a href="#" class="sim-btn btn-hover-new" data-text="Download CV"><span>Download CV</span></a> -->
                </div><!-- end messagebox -->
            </div><!-- end col -->

            <div class="col-md-6">
                <div class="right-box-pro wow fadeIn">
                    <img src="../../uploads/me.jpg" alt="" class="img-fluid img-rounded">
                </div><!-- end media -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div id="blog" class="section lb">
    <div class="container">
        <div class="section-title text-left">
            <h3>Education</h3>
            <p>My school years and the journey i took to become a Software Engineer.</p>
        </div><!-- end title -->
        
        <div class="row">
            <div class="col-md-6" *ngFor="let card of educationCard">
                <div class="services-inner-box">
                    <div class="ser-icon">
                        <i class="{{card.icon}}"></i>
                    </div>
                    <h2>{{card.title}}</h2>
                    <p>{{card.location}} {{card.date}}</p>
                    <p>{{card.description}}</p>
                    <p>{{card.description2}}</p>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end section -->

<div id="portfolio" class="section lb">
    <div class="container">
        <div class="section-title text-left">
            <h3>Languages</h3>
            <p>These are the languages i have used</p>
        </div><!-- end title -->
        
        <div class="gallery-menu row">
            <div class="col-md-12">
                <div class="button-group filter-button-group text-left">
                    <button class="active" (click)="filterImages('*')">All</button>
                    <button (click)="filterImages('gal_a')">FRONTEND</button> <!--FRONTEND-->
                    <button (click)="filterImages('gal_b')">BACKEND</button> <!--BACKEND-->
                    <button (click)="filterImages('gal_c')">DATABASE</button> <!--DATABASES-->
                </div>
            </div>
        </div>
        
        <div class="gallery-list row">
            <div class="col-md-4 col-sm-6 gallery-grid" *ngFor="let card of languagesCard">
              <div class="gallery-single fix" [ngClass]="card.filter.split(' ')" *ngIf="isImageVisible(card.filter)">
                <img [src]="card.photo" class="img-fluid" alt="Image">
                <div class="img-overlay">
                  <a [href]="card.photo" data-rel="prettyPhoto[gal]" class="hoverbutton global-radius">
                    <i class="fa fa-picture-o"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          
        </div>
    </div>

    <div id="services" class="section lb">
        <div class="container">
            <div class="section-title text-left">
                <h3>PROJECTS</h3>
                <p>These are some of the projects that i built during college and bootcamps that i took.</p>
            </div><!-- end title -->
            
            <div class="row">
                <div class="col-md-4" *ngFor="let project of projectsCard">
                  <div class="services-inner-box">
                    <div class="ser-icon">
                      <i class="{{project.icon}}"></i>
                    </div>
                    <h2>{{project.title}}</h2>
                    <p>{{project.description}}</p>
                    <a href="{{project.githublink}}" color="blue">Github Link</a>
                  </div>
                </div>
              </div>
              
            
        </div><!-- end container -->
    </div><!-- end section -->

    <div id="testimonials" class="section wb">
        <div class="container">
            <div class="section-title text-left">
                <h3>My Angular Bootcamp Journey</h3>
                <p>These are repositories i created during this bootcamp </p>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-12 col-sm-12">
                  <div class="testi-carousel owl-carousel owl-theme">
                    <div class="testimonial clearfix" *ngFor="let bootcamp of bootcampCard">
                      <div class="desc">
                        <h3><i class="{{bootcamp.icon}}"></i> {{bootcamp.title}}</h3>
                        <p class="lead">{{bootcamp.description}}</p>
                      </div>
                      <div class="testi-meta">
                        <img src="{{bootcamp.photo}}" alt="" class="img-fluid alignleft">
                        <h4>{{bootcamp.sub_title}} <small>- <a href="{{bootcamp.githublink}}" color="blue">Github Link</a></small></h4>
                      </div>
                      <!-- end testi-meta -->
                    </div>
                    <!-- end testimonial -->
                  </div><!-- end carousel -->
                </div><!-- end col -->
              </div><!-- end row -->
            
        </div><!-- end container -->
    </div><!-- end section -->

    <div id="contact" class="section db">
        <div class="container">
            <div class="section-title text-left">
                <h3>Contact Me</h3>
                <p>If i'm lucky enough to catch your attention and you have anything to say to me, i will be replying to you as soon as possible.</p>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-12">
                    <div class="contact_form">
                        <div id="message"></div>
                        <form id="contactForm" name="sentMessage" novalidate="novalidate">
							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<input class="form-control" id="name" type="text" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name.">
										<p class="help-block text-danger"></p>
									</div>
									<div class="form-group">
										<input class="form-control" id="email" type="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email address.">
										<p class="help-block text-danger"></p>
									</div>
									<div class="form-group">
										<input class="form-control" id="phone" type="tel" placeholder="Your Phone" required="required" data-validation-required-message="Please enter your phone number.">
										<p class="help-block text-danger"></p>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<textarea class="form-control" id="message" placeholder="Your Message" required="required" data-validation-required-message="Please enter a message."></textarea>
										<p class="help-block text-danger"></p>
									</div>
								</div>
								<div class="clearfix"></div>
								<div class="col-lg-12 text-center">
									<div id="success"></div>
									<button id="sendMessageButton" class="sim-btn btn-hover-new" data-text="Send Message" type="submit">Send Message</button>
								</div>
							</div>
						</form>
                    </div>
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
</div>